:root {
	--max-width: 580px;
	--body-margin: 0 auto;
	--body-padding: 0 10px;
}
*,
:before,
:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: system-ui, sans-serif;
	font-size: 17px;
}
main {
	max-width: var(--max-width);
	margin: var(--body-margin);
	padding: var(--body-padding);
}
main {
	margin-bottom: 100px;
}
a:not(button) {
	color: #999;
	text-decoration: none;
	border-bottom: 1px dashed;
}
a:not(button).normal {
	color: inherit;
}
hr {
	border: 0;
	border-top: 1px solid;
	margin-bottom: 20px;
}
.badge {
	padding: 0 5px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 14px;
	color: #ab570a;
	background-color: #ffefcf;
	border: 1px solid #f5a623;
}
.input {
	margin-bottom: 30px;
}
.input .label {
	margin-bottom: 5px;
}
.input input,
.input textarea,
.input select {
	border-radius: 3px;
	background-color: #e9e9e9;
	border: 0;
	padding: 5px;
	width: 100%;
	border: 2px solid transparent;
	font-family: inherit;
	outline: 0;
}
.input input:active,
.input textarea:active,
.input select:active,
.input input:focus,
.input textarea:focus,
.input select:focus {
	border-color: #000;
}
.input .error,
.input .info {
	font-size: small;
}
.input .error {
	color: #c50000;
}
.input textarea {
	resize: vertical;
}
button,
.button {
	color: inherit;
	text-decoration: none;
	font-size: 14px;
	background-color: transparent;
	border: 1px solid #999;
	padding: 5px 10px;
	border-radius: 3px;
	font-family: inherit;
	cursor: pointer;
}
button:hover,
.button:hover,
button:active,
.button:active,
button:focus,
.button:focus {
	border-color: currentColor;
}
button[disabled],
.button[disabled] {
	background-color: #eee !important;
	border-color: #eee !important;
	color: inherit !important;
	cursor: not-allowed;
}
button.delete,
.button.delete {
	border-color: #f7d4d6;
	color: #c50000;
}
button.delete:not(.outline),
.button.delete:not(.outline) {
	background-color: #f7d4d6;
}
button.delete:hover,
.button.delete:hover,
button.delete:active,
.button.delete:active,
button.delete:focus,
.button.delete:focus {
	border-color: #c50000;
}
nav.header {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
}
nav.header .title {
	font-weight: bold;
}
nav.header ul.nav {
	display: flex;
	margin: 0;
	padding: 0;
	gap: 20px;
}
nav.header ul.nav li {
	display: block;
	color: #999;
}
nav.header ul.nav li.selected a {
	color: #000;
}
ol.pages li {
	margin-bottom: 30px;
}
ol.pages li h3 {
	margin: 0;
}
ol.pages li .spacer {
	height: 10px;
}
@media screen and (max-width: 580px) {
	ol.pages {
		list-style-position: inside;
		padding: 0;
	}
	ol.pages li::marker {
		line-height: 0;
	}
}
ol.links li {
	margin-bottom: 30px;
}
ol.links li .input {
	margin-bottom: 10px;
}
@media screen and (max-width: 580px) {
	ol.links {
		list-style-position: inside;
		padding: 0;
	}
	ol.links li::marker {
		line-height: 2;
	}
}
details {
	border-radius: 5px;
	padding: 10px 0 10px 10px;
}
details summary {
	cursor: pointer;
}
details[open] summary {
	border-bottom: 1px solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.delete-page {
	color: #ff1a1a;
}
.preview-iframe {
	border: none;
	width: 100%;
	min-height: 50vh;
}
.editor-page .live-view {
	display: none;
	transition: 0.3s box-shadow;
}
.editor-page.open .live-view {
	display: flex;
	flex-direction: column;
	margin: var(--body-margin);
	padding: var(--body-padding);
	flex: 1;
	border-left: 1px solid;
}
.editor-page.open .live-view .live-title {
	padding: 10px 0;
}
.editor-page.open .live-view .live-title span .title {
	border-bottom: 1px solid;
}
.editor-page.open .live-view .live-title .close-live {
	float: right;
}
.editor-page.open .live-view .live-view-box-html {
	flex: 1;
	display: flex;
	margin-bottom: 10px;
}
@media screen and (min-width: 1160px) {
	.editor-page.open {
		display: flex;
		max-width: calc(var(--max-width) * 2);
		margin: var(--body-margin);
		padding: var(--body-padding);
		gap: 20px;
	}
	.editor-page.open main {
		max-width: unset;
		flex: 1;
	}
}
@media screen and (max-width: 1160px) {
	.editor-page.open .live-view {
		padding: 0 20px;
		border: 0;
		background-color: #fff;
		box-shadow: 0 0 1px 200vw rgba(0, 0, 0, 0.549);
		z-index: 100;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: calc(100% - 40px);
		width: calc(var(--max-width) - 40px);
		margin: var(--body-margin);
		border-radius: 5px;
		height: 800px;
		max-height: calc(100% - 40px);
	}
}
.histogram-container .histogram {
	width: 100%;
	min-height: 100px;
	display: flex;
	margin: 10px 0;
	flex-direction: row;
	gap: 5vw;
	justify-content: space-between;
}
.histogram-container .histogram .block {
	border-left: 1px dashed #ccc;
	flex: 1;
}
.histogram-container .histogram .block .bars {
	display: flex;
	align-items: flex-end;
	height: 100px;
	gap: 3px;
}
.histogram-container .histogram .block .bars .bar {
	width: 100%;
	border-radius: 5px 5px 0 0;
	height: 100%;
}
.histogram-container .color-block {
	width: 14px;
	height: 14px;
	display: inline-block;
	border: 1px solid;
}
